<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/><!--当设置了resultMap添加了字段映射时可以不用配置，但两者不影响，因为这个是全局的配置驼峰转换-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="cacheEnabled" value="true"/><!--开启全局使用二级缓存-->
        <setting name="lazyLoadingEnabled" value="true"/><!--懒加载-->
        <setting name="aggressiveLazyLoading" value="false"/><!--默认是true 会加载全部属性 如果设为False，只加载想要的属性-->
    </settings>
    <!-- databaseIdProvider：支持多数据库厂商的；
             type="DB_VENDOR"：VendorDatabaseIdProvider
                 作用就是得到数据库厂商的标识(驱动getDatabaseProductName())，mybatis就能根据数据库厂商标识来执行不同的sql;
                 MySQL，Oracle，SQL Server,xxxx
          -->
    <databaseIdProvider type="DB_VENDOR">
        <!-- 为不同的数据库厂商起别名 value就是别名的值 这里一定要配置  -->
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>
</configuration>