<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.dao.EmployeeMapper"><!--以前只是一个命名空间可以随便写-->
    <!--现在呢 写成接口的全类名-->
    <select id="selectEmployee" resultType="com.wq.bean.Employee">
        select * from tbl_employee where id = #{id}
    </select>

    <select id="selectEmps" resultType="com.wq.bean.Employee">
        select * from tbl_employee
    </select>
</mapper>
